* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.canvas-container {
  width: 100%;
  /* padding-top: 100%; */
  position: relative;
  /* border: 2px solid black; */
  flex: 1;
}

.canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-3 {
  z-index: 3;
}

.index-4 {
  z-index: 4;
}

.root-container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: absolute;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.glow-backer {
  position: absolute;
  /* background-color: rgba(120, 120, 200, 0.5); */
  height: 2rem;
  width: 2rem;
}

.controls {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-width: 40%;
}

.slider-grp {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-grp > * {
  margin: 0.5rem;
}

.light {
  color: #e0e0e0;
}

.counter-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
}

/* .slider-grp > .MuiButton-root {
  padding: 6px;
  min-width: 26px;
} */

/* .button-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* .btn-ctrl {

} */